\app:
  title: Red Hat Developer Hub
  analytics:
    adoptionInsights: {}
organization:
  name: RHDH Perf&Scale
integrations:
  github:
    - host: github.com
      #token: ${GITHUB_TOKEN}
catalog:
  processingInterval:
    minutes: 60
  providers:
    ldapOrg:
      default:
        target: ${LDAP_TARGET_URL}
        bind:
          dn: ${LDAP_BIND_DN}
          secret: ${LDAP_BIND_SECRET}
        users:
          - dn: ${LDAP_USERS_DN}
            options:
              filter: ${LDAP_USER_FILTER}
              scope: sub
        groups:
          - dn: ${LDAP_GROUPS_DN}
            options:
              filter: ${LDAP_GROUP_FILTER}
              scope: sub
        schedule:
          frequency: PT60M
          timeout: PT5M
techdocs:
  builder: local
  generator:
      runIn: local
  publisher:
    type: local
    local:
      publishDirectory: /opt/app-root/src/techdocs-data
enabled:
  github: true
  keycloak: true
