\app:
  title: Red Hat Developer Hub
  analytics:
    adoptionInsights: {}
organization:
  name: RHDH Perf&Scale
integrations:
  github:
    - host: github.com
      #token: ${GITHUB_TOKEN}
catalog:
  processingInterval:
    minutes: 5
  providers:
    keycloakOrg:
      default:
        baseUrl: ${KEYCLOAK_BASE_URL}
        realm: ${KEYCLOAK_REALM}
        loginRealm: ${KEYCLOAK_LOGIN_REALM}
        clientId: ${CLIENT_ID}
        clientSecret: ${CLIENT_SECRET}
        userQuerySize: 1000
        groupQuerySize: 1000
        schedule:
          frequency: 
            hours: 2
          timeout: 
            minutes: 10
          initialDelay: 
            minutes: 1
techdocs:
  builder: local
  generator:
      runIn: local
  publisher:
    type: local
    local:
      publishDirectory: /opt/app-root/src/techdocs-data
enabled:
  github: true
  keycloak: true
