global:
  clusterRouterBase: ${OPENSHIFT_APP_DOMAIN}
  imagePullSecrets:
    - rhdh-pull-secret
  dynamic:
    includes:
      - dynamic-plugins.default.yaml
    plugins:
      - package: ./dynamic-plugins/dist/backstage-community-plugin-catalog-backend-module-keycloak-dynamic
        disabled: false
        pluginConfig:
          catalog:
            providers:
              keycloakOrg:
                default:
                  baseUrl: ${KEYCLOAK_BASE_URL}
                  realm: ${KEYCLOAK_REALM}
                  loginRealm: ${KEYCLOAK_LOGIN_REALM}
                  clientId: ${CLIENT_ID}
                  clientSecret: ${CLIENT_SECRET}
                  userQuerySize: 1000
                  groupQuerySize: 1000
                  schedule:
                    frequency:
                      seconds: 60
                    timeout:
                      minutes: 1
      - package: ./dynamic-plugins/dist/backstage-community-plugin-analytics-provider-segment
        disabled: true
      # TechDocs
      - package: ./dynamic-plugins/dist/backstage-plugin-techdocs
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-techdocs-backend-dynamic
        disabled: false
orchestrator:
  enabled: false
  sonataflowPlatform:
    externalDBsecretRef: "${RHDH_HELM_RELEASE_NAME}-postgresql-svcbind-postgres"
    externalDBName: "sonataflow"
    externalDBHost: "${RHDH_HELM_RELEASE_NAME}-postgresql-primary"
    externalDBPort: "5432"
upstream:
  backstage:
    appConfig:
        database:
          connection:
            password: "${POSTGRESQL_ADMIN_PASSWORD}"
            user: postgres
        auth:
          externalAccess:
            - type: legacy
              options:
                secret: ${BACKEND_SECRET}
                subject: legacy-catalog
    containerPorts:
      backend: 7007
    extraAppConfig:
      - configMapRef: app-config-rhdh
        filename: app-config.rhdh.yaml
    extraEnvVars:
      - name: POSTGRESQL_ADMIN_PASSWORD
        valueFrom:
          secretKeyRef:
            key: postgres-password
            name: "{{ .Release.Name }}-postgresql"
      - name: BACKEND_SECRET
        valueFrom:
          secretKeyRef:
            key: backend-secret
            name: '{{ include "janus-idp.backend-secret-name" $ }}'
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            key: github.token
            name: "{{ .Release.Name }}-plugin-secrets"
      - name: KEYCLOAK_BASE_URL
        value: "https://keycloak-${RHDH_NAMESPACE}.${OPENSHIFT_APP_DOMAIN}"
      - name: KEYCLOAK_LOGIN_REALM
        value: "backstage"
      - name: KEYCLOAK_REALM
        value: "backstage"
      - name: CLIENT_ID
        valueFrom:
          secretKeyRef:
            key: CLIENT_ID
            name: keycloak-client-secret-backstage
      - name: CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: CLIENT_SECRET
            name: keycloak-client-secret-backstage
      - name: LOG_LEVEL
        value: "${RHDH_LOG_LEVEL}"
      - name: NODE_TLS_REJECT_UNAUTHORIZED
        value: "0"
    image:
      pullPolicy: Always
      registry: ${RHDH_IMAGE_REGISTRY}
      repository: ${RHDH_IMAGE_REPO}
      tag: ${RHDH_IMAGE_TAG}
    replicas: ${RHDH_DEPLOYMENT_REPLICAS}
  metrics:
    serviceMonitor:
      enabled: ${RHDH_METRIC}
      path: /metrics
  postgresql:
    auth:
      secretKeys:
        adminPasswordKey: postgres-password
        userPasswordKey: password
        replicationPasswordKey: replication-password
    enabled: true
    image:
      registry: registry.redhat.io
      repository: rhel9/postgresql-15
      tag: latest
    postgresqlDataDir: /var/lib/pgsql/data/userdata
    primary:
      containerSecurityContext:
        enabled: false
      extraEnvVars:
        - name: POSTGRESQL_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: postgres-password
              name: "{{ .Release.Name }}-postgresql"
      persistence:
        enabled: true
        mountPath: /var/lib/pgsql/data
        size: "${RHDH_DB_STORAGE}"
    architecture: replication
    replication:
      enabled: true
      synchronousCommit: "on"
      numSynchronousReplicas: ${RHDH_DB_REPLICAS}
      applicationName: "${RHDH_HELM_RELEASE_NAME}"
    readReplicas:
      containerSecurityContext:
        enabled: false
      extraEnvVars:
        - name: POSTGRESQL_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: replication-password
              name: "{{ .Release.Name }}-postgresql"
      podSecurityContext:
        enabled: false
      replicaCount: ${RHDH_DB_REPLICAS}
      securityContext:
        enabled: false
  service:
    ports:
      backend: 7007
      name: http-backend
      targetPort: backend
    type: ClusterIP
