global:
  clusterRouterBase: ${OPENSHIFT_APP_DOMAIN}
  imagePullSecrets:
    - rhdh-pull-secret
  dynamic:
    includes:
      - dynamic-plugins.default.yaml
    plugins:
      - package: ./dynamic-plugins/dist/backstage-community-plugin-catalog-backend-module-keycloak-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-community-plugin-analytics-provider-segment
        disabled: true
      # TechDocs
      - package: ./dynamic-plugins/dist/backstage-plugin-techdocs
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-plugin-techdocs-backend-dynamic
        disabled: false
      - package: ./dynamic-plugins/dist/backstage-community-plugin-catalog-backend-module-ldap-dynamic
        disabled: false
orchestrator:
  enabled: false
upstream:
  backstage:
    appConfig:
      auth:
        externalAccess:
          - type: legacy
            options:
              secret: ${BACKEND_SECRET}
              subject: legacy-catalog
      backend:
        database:
          connection:
            host: "${POSTGRES_HOST}"
            port: "${POSTGRES_PORT}"
            user: "${POSTGRES_USER}"
            password: "${POSTGRES_PASSWORD}"
    containerPorts:
      backend: 7007
    extraAppConfig:
      - configMapRef: app-config-rhdh
        filename: app-config.rhdh.yaml
    extraEnvVarsSecrets:
      - "rhdh-db-credentials"
    extraEnvVars:
      - name: BACKEND_SECRET
        valueFrom:
          secretKeyRef:
            key: backend-secret
            name: '{{ include "janus-idp.backend-secret-name" $ }}'
      - name: GITHUB_TOKEN
        valueFrom:
          secretKeyRef:
            key: github.token
            name: "{{ .Release.Name }}-plugin-secrets"
      - name: KEYCLOAK_BASE_URL
        value: "https://keycloak-${RHDH_NAMESPACE}.${OPENSHIFT_APP_DOMAIN}"
      - name: KEYCLOAK_LOGIN_REALM
        value: "backstage"
      - name: KEYCLOAK_REALM
        value: "backstage"
      - name: CLIENT_ID
        valueFrom:
          secretKeyRef:
            key: CLIENT_ID
            name: keycloak-client-secret-backstage
      - name: CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: CLIENT_SECRET
            name: keycloak-client-secret-backstage
      - name: LOG_LEVEL
        value: "${RHDH_LOG_LEVEL}"
      - name: NODE_TLS_REJECT_UNAUTHORIZED
        value: "0"
    image:
      pullPolicy: Always
      registry: ${RHDH_IMAGE_REGISTRY}
      repository: ${RHDH_IMAGE_REPO}
      tag: ${RHDH_IMAGE_TAG}
    replicas: 1
  postgresql:
    enabled: false
    auth:
      existingSecret: rhdh-db-credentials
  metrics:
    serviceMonitor:
      enabled: ${RHDH_METRIC}
      path: /metrics
  service:
    ports:
      backend: 7007
      name: http-backend
      targetPort: backend
    type: ClusterIP
