---
extraContainers:
  - name: oauth2-proxy
    env:
      - name: OAUTH2_PROXY_CLIENT_ID
        valueFrom:
          secretKeyRef:
            key: CLIENT_ID
            name: keycloak-client-secret-backstage
      - name: OAUTH2_PROXY_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            key: CLIENT_SECRET
            name: keycloak-client-secret-backstage
      - name: OAUTH2_PROXY_COOKIE_SECRET
        valueFrom:
          secretKeyRef:
            key: keycloak_cookie_secret
            name: perf-test-secrets
      - name: OAUTH2_PROXY_OIDC_ISSUER_URL
        value: https://keycloak-${RHDH_NAMESPACE}.${OPENSHIFT_APP_DOMAIN}/realms/backstage
      - name: OAUTH2_PROXY_SSL_INSECURE_SKIP_VERIFY
        value: "true"
      - name: OAUTH2_PROXY_LOGGING_LEVEL
        value: "debug"
    ports:
      - name: oauth2-proxy
        containerPort: 4180
        protocol: TCP
    imagePullPolicy: IfNotPresent
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
    args:
      - "--provider=oidc"
      - "--email-domain=*"
      - "--upstream=http://localhost:7007"
      - "--http-address=0.0.0.0:4180"
      - "--skip-provider-button"
      - "--show-debug-on-error=true"
      - "--session-store-type=redis"
      - "--redis-connection-url=redis://oauth2-proxy-redis:6379"
      - "--skip-oidc-discovery"
      - "--login-url=https://keycloak-${RHDH_NAMESPACE}.${OPENSHIFT_APP_DOMAIN}/realms/backstage/protocol/openid-connect/auth"
      - "--redeem-url=http://rhdh-keycloak-service.${RHDH_NAMESPACE}.svc.cluster.local:8080/realms/backstage/protocol/openid-connect/token"
      - "--oidc-jwks-url=http://rhdh-keycloak-service.${RHDH_NAMESPACE}.svc.cluster.local:8080/realms/backstage/protocol/openid-connect/certs"
